@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Baloo+2:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{

    /* Font Family */
    --font-family-logo: 'Leckerli One', cursive;
    --font-family-heading: 'Baloo 2', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;

    /* Typography */
    --font-logo: 400 40px/normal var(--font-family-logo);
    --font-heading-md: 700 28px/normal var(--font-family-heading);
    --font-heading-sm: 700 18px/normal var(--font-family-heading);
    --font-body-md: 400 16px/normal var(--font-family-body);
    --font-body-sm: 400 14px/normal var(--font-family-body);
    --font-body-xs: 400 12px/normal var(--font-family-body);

    /* Brand */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;


    /* Accent Colors */
    --accent-purple: #B259FF;
    --accent-fuschia: #FF59F9;
    --accent-pink: #FF598B;
    --accent-orange: #FF8B59;
    --accent-yellow: #FFCD59;
    --accent-lime: #E1FF59;
    --accent-green: #59FF91;
    --accent-cyan: #59FFF9;
    --accent-navy: #6A59FF;

    /* Feedback */
    --feedback-danger: #FF5959;

    /* Input */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    /* Shape */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    /* Text */
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}

body{
    overflow: hidden;
    color: var(--text-body);

    width: 100%;
    padding: 20px;
    background-color: var(--shape-background);


}

fieldset{
    border: none;
}

.flex{
    display: flex;
    gap: 16px;

}
.flex-1{
    flex:1
}
