section{
    width: inherit;
}




#Intro{
    height: 750px;
    background-image: url("/assets/images/Background_Intro.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 94px;


    

    .info{
        display: flex;
        flex-direction: column;
        width: 1040px;
        align-items: center;
        justify-content: center;
        gap: 80px;

        .tag{
            height: 40px;
            display: flex;
            width: inherit;
            gap: 16px;
            width: 754px;
            
            .tags{
                display: flex;
                align-items: center;
                width: auto ;
                height: 40px;
                padding: 8px 16px;
                gap: 8px;
                background-color: var(--gray-400);
                border-radius: 999px;
                img{
                    width: 24px;
                    height: 24px;
                }
                p{
                    font: var(--text-md);
                    color: var(--gray-200);
                    
                }
                
            }
        }

    }

    .header{
        width: 680px;
        gap: 56px;
    }

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px 16px;


        h2{
            font: var(--subtitle);
            color: var(--gray-200);
                span{
                     font: var(--subtitle);
            color: var(--red);

                }

        }

        h1{
            font: var(--title-lg);
            color: var(--gray-100);
        }

        
    }
    .text{
       display: flex;
       flex-direction: column;
       gap: 20px;

       p{
            font: var(--text-sm);
            color: var(--gray-300);
            text-align: center;
        }

    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    
}

#projects{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    padding-inline: 120px;
    padding-block: 72px 144px;

    header{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            color: var(--red);
            font: var(--subtitle);
        }
        h1{
            color: var(--gray-100);
            font: var(--title-md);
        }
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:330px;
        height: 280px;
        border-radius: 12px;
        padding: 12px 12px;
        gap: 20px;
        border: 1px solid var(--gray-400);
        background-color: var(--gray-400);

        &:hover{
            border: 1px solid var(--gray-200);
            
        }

        img{
            width: 306px;
            height: 156px;
            border-radius:8px ;
        }

        .text{
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 4px;
            
            h2{
                font: var(--title-sm);
                color: var(--gray-100);

            }
            p{
                font: var(--text-sm);
                color: var(--gray-200);
            }
        }
    }
}

#services{
    
    display: flex;
    flex-direction: column;
    height: 480px;
    align-items: center;
    gap: 56px;
    padding-inline: 120px;
    padding-block: 88px 120px;
    background-color: var(--gray-600);

    header{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            color: var(--red);
            font: var(--subtitle);
        }
        h1{
            color: var(--gray-100);
            font: var(--title-md);
        }
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        
    }

    .card{
        display: flex;
        flex-direction: column;
        width:280px;
        height: 155px;
        border-radius: 12px;
        padding: 20px;
        gap: 20px;
        border: 1px solid var(--gray-400);

        &:hover{
            border: 1px solid var(--gray-200);
            
        }

        img{
            width: 48px;
            height: 48px;
        }

        .text{
            display: flex;
            flex-direction: column;
            gap: 8px;
            
            h2{
                font: var(--title-sm);
                color: var(--gray-100);

            }
            p{
                font: var(--text-sm);
                color: var(--gray-200);
            }
        }
    }
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/images/Background_Contacts.png");
    background-size: contain;
    height: 787px;
    padding-inline: 120px;
    padding-block: 128px 200px;
    gap: 48px;


    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        h2{
            color: var(--purple);
            font: var(--subtitle);
        }
        h1{
            color: var(--gray-100);
            font: var(--title-md);
        }
        p{
            color: var(--gray-200);
            font: var(--text-md);


        }
    }

    .link{
        width: 400px;
        display: flex;
        flex-direction: column;
        gap:16px ;


    }
    .link-cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: var(--gray-400); 
        height: 68px;   
        border-radius:8px ;
        border: 1px solid var(--gray-400);

        
        &>a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;


            color: var(--gray-200);
            text-decoration: none;
            font: var(--text-md);
            img{
                width: 20px;
                height: 20px;
            }

            
            span{
                display: flex;
                align-items: center;
                gap: 8px;
                img{
                    width: 28px;
                    height: 28px;
                }
            }
            
        }

        &:hover{
            border: 1px solid var(--gray-200);
            
        }

        
    }

}